# Enumerate() Function in Python

The enumerate  function shows the items of the iterables with their index.

-----

Syntax : enumerate(iterable)

where, 
iterable - list,tuple,set,dictionary,strings

----

We can enumerate as a List
We can enumerate as a Tuple
We can enumerate as a Set
We can enumerate as a Dictionary

In [1]:
A = ['Apple', 'Mango', 'Banana', 'Orange']

In [2]:
type(A)

list

In [3]:
list(enumerate(A))                                                      # Enumerate as a List

[(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')]

In [4]:
tuple(enumerate(A))                                                      # Enumerate as a Tuple)

((0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange'))

In [6]:
set(enumerate(A))                                                      # Enumerate as a Set

{(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')}

In [7]:
dict(enumerate(A))                                                     # Enumerate as a Dictionary

{0: 'Apple', 1: 'Mango', 2: 'Banana', 3: 'Orange'}

----

#### Setting the iterable - list , tuple , set , dictionary , strings

In [9]:
L = ['Apple', 'Mango', 'Banana', 'Orange']

In [10]:
type(L)

list

In [11]:
list(enumerate(L))                                                   # Here, iterable is a List

[(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')]

In [12]:
T = ('Apple', 'Mango', 'Banana', 'Orange')

In [13]:
type(T)

tuple

In [14]:
list(enumerate(T))                                                   # Here, iterable is a Tuple

[(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')]

In [15]:
S = {'Apple', 'Mango', 'Banana', 'Orange'}

In [16]:
type(S)

set

In [17]:
list(enumerate(S))                                                   # Here, iterable is a Set

[(0, 'Orange'), (1, 'Mango'), (2, 'Banana'), (3, 'Apple')]

In [18]:
D = {101:'Apple', 202:'Mango', 230:'Banana', 439:'Orange' }

In [19]:
type(D)

dict

In [21]:
list(enumerate(D))                                                   # Here, iterable is a Dictionary

[(0, 101), (1, 202), (2, 230), (3, 439)]

In [22]:
X = 'Python'

In [23]:
type(X)

str

In [24]:
list(enumerate(X))                                                  # Here, iterable is a String

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [25]:
Y = "Python is fun"

In [26]:
list(enumerate(Y))

[(0, 'P'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, ' '),
 (7, 'i'),
 (8, 's'),
 (9, ' '),
 (10, 'f'),
 (11, 'u'),
 (12, 'n')]

----

Exercise - What will be the output for :

1. list(enumerate(('India', 'US', 'Japan', 'Russia')))
2. dict(enumerate({'India', 'US', 'Japan', 'Russia'}))

----

----