## ' Sets ' in Python

Set is a collection of different data-types like Integers, Floats, Strings.

Each element or value of the set is called an 'Item'. We can also say that a Set is a sequence of items.

A Set is created within { }

List vs Tuple vs Set 
* List is created within [ ] ,     Tuple is created within ( )  ,   Set is created within { }
* List items can be changed  ,     Tuple items can't be changed ,   In sets we can add or remove any element

----

Set = { integer , float , string }

In [30]:
A = {1,23,56,70,2,5, 'b','c','a'}

In [12]:
# X = set()  # to create an empty set
# type(X)
# X1 = set([1,2,3,4])     # to create a set with a list
# X2 = set((1,2,5,4,6,3,4,5))    # to create a set with a tuple

In [13]:
X1

NameError: name 'X1' is not defined

In [31]:
A

{1, 2, 23, 5, 56, 70, 'a', 'b', 'c'}

In [15]:
A.remove('c')

In [32]:
A

{1, 2, 23, 5, 56, 70, 'a', 'b', 'c'}

In [36]:
A.pop() # delete any element randomly

2

In [37]:
A.pop()

5

In [35]:
A

{2, 23, 5, 56, 70, 'a', 'b'}

-----

----

'Index' in a Set.

In [20]:
A.add(34444)

In [21]:
A

{23, 34444, 5, 56, 70, 'a', 'b'}

In [22]:
A.add(999)

In [23]:
B

NameError: name 'B' is not defined

In [24]:
A

{23, 34444, 5, 56, 70, 999, 'a', 'b'}

In [25]:
print(A)

{5, 70, 999, 34444, 'b', 23, 56, 'a'}

In [26]:
B = {12,32,1,0.5}

In [27]:
B

{0.5, 1, 12, 32}

----

----

----

### Properties of a Sets

1. Arrange the items in Ascending order

2. A set doesn't allows duplicate items(values) in it.

3. We can add or delete the elements in a set

In [29]:
A

{23, 34444, 5, 56, 70, 999, 'a', 'b'}

In [24]:
A.clear()

In [ ]:
A.remove

In [25]:
A

set()

----

----